#search-username {
    margin-left: 15px;
    padding: 5px;
}

.search-form {
    display: inline;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    cursor: pointer;
    margin-left: 15px;
    background: aliceblue;
}
  
.autocomplete-items span {
    padding: 0 10px;
    cursor: pointer;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    cursor: pointer;
    background: aliceblue;
    padding: 5px;
}
  
/*when hovering an item:*/
.autocomplete-items:hover {
    background-color: #e9e9e9; 
}

.autocomplete-items span:hover {
    background-color: #e9e9e9; 
}
  
/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}

.search-user-link {
    text-decoration: none;
    color: #2CA9F7;
}